* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  background-color: rgb(250,250,250);
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 100;
  font-style: normal;
}

.panel {
  margin: 1em auto;
  background-color: rgba(255,255,255,0);
}

.panel-elem {
  background-color: rgba(255,255,255,0);
}

.text-general {
  text-align: center;
  color: rgb(16,16,16);
}

.line {
  position: relative;
  display: -webkit-flex; /* Old Safari and iOS */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

.line-hr {
  width: 100%;
}

.line-hr-general {
  width: 100%;
  height: 0.5em;
}

.line-hide {
  display: none;
}

.line-element-centred {
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  transition: all 0.2s ease-in;
  left: 0;
  right: 0;
}

.line-element-moveleft {
  right: 60%;
}

.line-element-moveright {
  left: 60%;
}

.line-tickmark {
  width: 0.5em;
  height: 1em;
  margin: 0.5em auto 0 auto;
}

.line-circle-general {
  margin: 0.25em auto 0 auto;
  background-color: rgb(250,250,250);
}

.line-circle-standalone {
  border: 0.35em solid rgb(16,16,16);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.line-circle-top {


}

.line-circle-middle {

}

.line-circle-bottom {


}

.direction {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  z-index: 0;
}

.direction-left {
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  width: 50%;
  min-width: 10em;
}

.direction-left-name {
  justify-content: flex-start;
  margin-left: 10%;
  margin-right: auto;
  padding: 2%;
}

.direction-left-arrow {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10%;
  padding: 2%;
}

.direction-right {
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  width: 50%;
  min-width: 10em;
}

.direction-right-arrow {
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 10%;
  padding: 2%;
}

.direction-right-name {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10%;
  padding: 2%;
}

.station {
  padding-left: 5%;
  padding-right: 5%;
}

.station img {
  height: 1em;
  vertical-align: -10%;
}

.station-top {
  margin-bottom: 0.1em;
  font-size: 2em;
}

.station-middle {
  font-size: 1.1em;
}

.station-bottom {
  font-size: 1em;
}

.countdown {


}

.countdown-main {
  font-size: 2em;
  margin-bottom: 0.1em;
}

.countdown-secondary {
  transition: opacity 0.5s ease-in-out 0.2s;
  display: none;
  opacity: 0;
}

.countdown-secondary-message {

}

.countdown-secondary-trainafter {

}

.prediction {

}

.prediction-main {
  font-size: 2em;
  margin-bottom: 0.1em;

}

.prediction-main img {
  height: 2em;
}

.prediction-secondary {
  transition: opacity 0.5s ease-in-out 0.2s;
  display: none;
}

.prediction-secondary-us {

}

.prediction-secondary-tfl {


}

.show-secondary {
  display: block;
  opacity: 1;
}
